header{
    text-align: center;
    font-size: 300%;
    background:linear-gradient(90deg,orange,white,green);

}
figcaption{
    align-text: center;

}
.tony{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.tony figure{
    flex:calc(30%);
    margin: 0;
}
.tony img{
    width:200px;
    height:200px;
    border-radius: 20px;
}
footer{
    width: 100%;
    background:rgba(32, 162, 38, 0.453);
    align-items: center;
    font-size: 200%;
    text-align: center;

}

body{
    background-position: center;
     background-repeat: no-repeat;
    background-size: cover;
    background-image: url(data:image/webp;base64,UklGRo4NAABXRUJQVlA4IIINAACwXACdASouAeoAPp1KnkslpDOsprNKqnATiWVuVDb4pHMLnWt+i/272Nb2RN0hUhdmfWaI1eB4W1nf9yvbir98t38L/qpozKR0b60z//huwmNq9j1Ncth2uyyqRX/952pK1ottPUlS7WXitr7FNzWc18mQkO3k67ngjt3EwBTf0h5SGXRx35ROThb4DuHe43hy6pf/9fpCVjUCO22Jy0CNYFi5/6dp7GR/QbiAdKghTV1CPlldHoh13K1ZlxeFsRrNVZWOOTHoX+UwARaLt4gJbeYyuKDUem0vR6qh9HUQ8cGAyqReJoW18RAyi8G7JzGn25uKdRmNJfLSWrLu7FG86deIJ2lPDwy9XUhwUhSe6+PaJAme2FkZmWhQgO951lXDE5l/FeLIc12DebFzrUsXq0UN2MWXs2yOm4U1xv+NWIQP0qpsOKhpqiYObH2f4yDU/V/6jr3/2g1gtMMN0KUNaguLm4wLXzt3d0KuJxNtybtAWVm1hkbH9dWZGHluxHFxyKOZzC/4a2URyestymyBvFX+wRXC6KPxc1Dvcd0tugY3DLu0yDiLL4U+wpDETw8ESw2p5r7ADhhG6EysLZFcVkk+Nhf3zlOOPI61SPde5ArUx6/UHdBtboNpyirmsd8Saqoi39UihLlvPeH8egp8Ky0CMuy75CkMQzQ81HUs/6HBdk2ihyVz+dISxBJOP4kfZsRRwyIF2uJFW71ooVl/Ss+YNYLTPR7mRX7iv/oVHrt23jL73Wv3c22cWjj8aDzl6pc5Xr8BWcnRV56A1tEyn2GuSoygnGelMUx+MIXYyAKDIDFKYiijSX21Fi1lUV5cC4Lf58pdmdNK3hl7YfqGPob5jT8QOwqMn0gV21xM+10t3ftd2rC06o5vHoDQxp6fTKVxloDHw13TiJpObVWfIbSU594QY8NZZNFVS/+zCmiBDRb9Qh/HEaNQ2WAApgL2Ogp5ow2Z4wT0Xd/yexpAwq6409ZT5e+iPxjXngAA/uVShADQRHX/8WhgrnAu+//sHf+g7/zgP3BjhxDvN3NOTg6GMvf7ZHIhGoT4EtRDuDtNQn9pBKKfQUyQ1N+d4BcT2X9RVjxtMS8Mac1W4+gcTHaJaEAU00KpZHNzGpROCY09mgXUAsS1kVCMpz0Wb8yvFbr5wi+LyAc/0IBgFpP3NYJ4oRTlBpTd4WXsbjek37lCKCLBHytub+61uG3u1QQs1m0uH8RAy370zSHVds+rONYH9MiLiaJYDhha5FHqfEkJch4PgxNM2ApdPUNClbz/WK4/ZwVlNdfTR3L8zIHwd73nX54FZ0WK00u4+K8LzQwTat4XhbW1AowmU5OPTkFAib18R75zR/KYe3b5at63PV34lsB0WJTxz1JBzx5dpkjXaAb80p2Wh4/zoK8MYPDC6EsEtUOmcVRgdv4anlfo7Fo5H4D+G5rW589kT3tISYJVTfPcW5F1Ltk0mW1blEmcr9tFEeTZiDPV5JAwYNwcY5pDi6zgVThlY5+x97pBnrw3dYk81SrXiEOJ94BvBFGijZnsuYNDJx744e4YYziRdMuAC2GaElci8ijoFaUs1g+yEvMjINv4UqA/M1frFtVZGLhKmhZfjRXFBXu92itQYeFU5fGIcyQ3b5MSmFGNSE3hvDICb5XA3t/wyCiyFyWmtX1gnZziUnF1Kj3gdcLNAbq15U3MsfZ7vISFe3FhjEleiRSkas1U40hYeo8+IqnyzpEyTwx5W1/Lw9eeYkFL8aNudMyOi9Xdjic6rfh1Bg4Nfis7Fse3aokpnYSn3YpD3aBs1ejOLiLYz9z3rccPquVxcmjhmOvAhE/5Mvw/a6Ze8q9xcqe/VyXzsjLLBlsXabYWtmfpkhSLWWE+H0Si1uTw9cav2sRB0pHRaH+BszpBvPEyKYSe1XGfsmXYU3ICCQuedvLBnsceWkBtdsHLnjeJYgmpAx+ximcSAs8PvzAl9VSIB2R2zG76Vlv91wcxEYBK/u4lSKcTCQkB8/9LY6jFqkHuWV+l2ztp5xo1onG2lO1bASkcJcwNiEUTYFBAur1u2mbJNXTapChDPiI7sWqG5SROpWT3Tc8Q8QKHNwcRRJEXlLCqpYttdSdmxRN2+c15IC6u2tzvgpOir2NC7GZGyipFndydtgaj2BpebrVZDbAck1gxs5f/GT4VT6oAU/cM0cY1qCAcciHfVYoLHxJiuDmf8hvcyTHT0L9IX+12sAAAChsIy3X1VK3EeQxYT24sm6I+/ts4eJZ/uS4Yt37uzSeMDy4q4YX+NY9LvvUs6vI10J+RKDWvdRiS/u2CfALG7ff5yjhY2MADimIHDdm+jn7EJwbAAAAAAAhQgBtXEdW31qnyzws9cJeqH3IuNWSrGaHTaPP8T9ZsOyYr6liEtkk62SxN1GLWJ9xfs7GM+UhZRQQyd8d2kHWaPrxn5ffzvtvSq+qDAR1ZxDuH2qRfUDlSn2Foy4nhI0fMFoAAAAAATEpVs7OTqYC41ZNUG/HswD7qVXermNghZrCZTVnmftpLsADtFkKlovYCbSnAgID0EIetxLDKAx3Gum178Ctvxlo0BzMhYMbb1C614Hq4KwQSjMVcJWbkR4AAAC+YFY5RAJbBkCsLSAdzdaV6YBjzPWhZNM7qSrGItzm7owem9yKtgfk8zidrrmwKwxwScdoJniyT2R3oj4H4Ny5mnT3ltcJfFt85jXfTuxGcBDOprla9aP9jgguQc1F54r0tOH4AAAQJ5Sbw7fZvXVyCyiUvMZOcciOq34r1rTwK7tgwxBF7EEvjwUE5LPd28m2oQaacOZ88TsxqcOuMG4F9yA90gN8sbwH2RGdJbWEGf3fZ4JZwDV/XNgwhrOxi4Kh9mDecILtypBCelCDcBifPKyPx0XvGzvsssZ5+Vd4srkgZLFddfc8XoL54o4CgjBzmBBSzDxkh7TKOa+amspWLTeFzMneFcla8jbaS7f0lz4kB9YIP4Ns/fzClONCNnG8MK7qsamiZN/tDbJ/K2ZpKq0L7rIMdMx3Kl1PZUpA2WVjbMs/tL0sTc7nizK+LRrpPAZVv0L9oLoOTG9veaMc+eaKgcmqi58lXFx5MiSH1arBFjkB2U3H8Gdfubzd8xSt/e4QViGOEylhR6KOpMcVb95sVyW6SUxoqnjYQ1B1s+AwSc4YUgwZuN3U03EzBZFVL1qoEBDbLtxm2N4rC26T9jkfe4ydCIol3kWPyIvpskz7T6Caepx9rfqKLcIWviQsndhZsDLkmFklZiqMV1uwwUh2gi3thGLkVIDRRKzuW986m2S5a9TxMAIA6oYIQDsDVQLap+I8aE0rvfrRkSWh8Z4d8eTCsZ2DmVtVkCv8cCqmBK6Po5z1PMxxZEanpdEwYcbdpF4HBetDFFfvfQeWp5fQIVeD32EkYrrWlMwjMWR+w7Pd2I/JhCLJy/bNs2z9vUmJAPAWO4DJKhn5oKxQW5dp0+ulT7jTLw/PtgXVhsnQGakg7ch58EkNzelUCbwnACd/ukvszZdFxWHC3K/MtICsDQhNU7VaTpYNfeCW7MS1HPxb1xkgik7hAzgEwPsa0MPcltR/3WOmDCmntxyYYI3TEgqj8r1yNxBLVV5cHRQetGDQ5vra3zBc1X836HA8pysD+O7ojsq87pxmqfxFa4fTq2B7/Rksd+ZXjrtC7EdQkJm9/n7bSoqMBSZu2ObfhqPUiQcMkouFTYy3mUTIklnI9qhb03WinITLmPrTvPLAkW86pXDl49Yr2KBCAWbIvmOafLsJCtmThI9lwSg7xa5lU/w7nATvO+yoKyic4WrIxPHkNJU8pMsLAsOumT3/Mue1k1WodvgskY+dltmjD87iCr+ivXvy8PZkm+5ktI6wZrG+OeQ7r6QCWbrGO67Fj7xzswg0Q9vayZ7vMYzggfVfTiZPme2CZKAg0JckQosRXFpu1hZyJb4BeSnKXDm3zSIL6KpnbyO/Z+bSAVdicvWOsvFdWOrJYC7RhonB2IHcUNsCPDnh452Y2YU9un4IFcL+A8QDMm3nbMcx6gdd6LmJ7tJpzSxH8XFnJDO3WbUVT+cNXpjyjGKoXmPyAQexqGZ9C1YYQeYIk711QuF9Z0GnQNeCU+fSoLbKXy0w+ka12e+8D4eBZbax65pXXSsVtvTbkDd/kFeKO4yUw+9iGUJ3AscD7NCDZv3oCsFPGnNuL0FcFIeCTt2oid2uLSraYDIoxx8dzaZU1ZmgWh8/ixK4QJamNbNNYFCqLHbqVMHe+pnXzzKwX/VqydmqgJH5phZtp+/Dc7CAyafQglxvajvxjM3fX4FkSc2x+1P5a2s4viwmO8goTlT9IfbcukMuE6TUOg+0sWb4kbntB77L36j4cR6N33MV/3iZ55T52pKLNBum4DqSOxlZDHfhDUejnDmreGV/PaXq5T5aW/XywV5tPR3UKuOCwt9JGdOLXh8qCnSnr06/lBidl5SryIk3E6QXcpgh+089qH3crLJ4iwyY5+Bu7IRy+G6/K3ei4AZtNfZluLc1KsBOQwU+j/PD00FITvyvAW5zYFIFgjLRKW7GEIVl4ADs5RkSVbLro94ajPstkX+2rPB+wiE368IGxkBEklA0KZm260kGJJrgAAA==);
}
a:hover{
    color: orange;
}
a{
    color:rgba(22, 181, 22, 0.74)
}