form{
    width:50vw;
    border:1px solid;
    border-radius:15px;
    margin: 2px auto;
    background-color:antiquewhite;
    padding: 5px;

}
fieldset{
    border:0;
}
input{
    width: 100%;
    margin: top 3px;
    margin-bottom: 3px;
}
body{
   
    background-color:whitesmoke;
}
p{
    color:black;font-family: 'Times New Roman';
}
h1{
    color:black;text-align: center;font-weight:bold;
}
button{
    margin: auto;
    display: block;
}
@media screen and (max-width:480px){
body{

   background-color: forestgreen;
}
}
