form{
    width:50vw;
    border:1px solid;
    border-radius: 15px;
    margin: auto;
    background-color: antiquewhite;
    padding: 10px;
}
fieldset{
    border:0;
}
input{
    width:100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
body{
   background-color:white;
}
p{
    color:black;font-family: 'Times New Roman';
}
h1{
    color:black;text-align: center;font-weight:bold;
}
button{
    margin: auto;
    display: block;
}
@media screen and (max-width:480px){
body{

   background-color:#cccc;
}
}
