h2{
    color:rgb(255, 0, 21);font-family: 'Times New Roman', Times, serif;
}
h3{
    color:rgb(196, 255, 232);font-family: 'Times New Roman';
}
th{
   color:brown;font-family:'Times New Roman';
}
p{
    color:black;font-family:'Times New Roman';
}